player-connection-mode=Listen
player-connection-guid=1915367133
player-connection-debug=0
player-connection-project-name=Onlinetest
player-connection-ip=172.16.74.30
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=257de21b7e694cc19b792531f0a42f52
